{% extends 'base.html'%}

{% block title %}Maktab CRM - O'quvchi ma'lumotlari{% endblock %}

{% block content %}
<h1>O'quvchi ma'lumotlari</h1>
<div class="student-details">
    <div class="student-info">
        <!-- Static content for a student's details -->
        <img src="https://st5.depositphotos.com/23404642/73149/v/450/depositphotos_731494074-stock-illustration-portrait-smiling-teen-student-girl.jpg" alt="O'quvchi rasmi" id="studentImage" class="student-image">
        <h2 id="full_name">{{ student.full_name }}</h2>
        <p>ID: <span id="studentId">{{ student.pk }}</span></p>
        <p>Guruh: <span id="studentGroup">{{ student.group }}</span></p>
        <p>Tug'ilgan sana: <span id="studentBirthDate">{{ student.date_of_birth }}</span></p>
        <p>Telefon: <span id="studentPhone">{{ student.phone }}</span></p>
        <p>Manzil: <span id="studentAddress">{{ student.address }}</span></p>
    </div>
</div>
<div class="actions">
    <a href="{% url 'subjects:update' %}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
    <a href="{% url 'subjects:delete' %}" id="deleteStudent" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
</div>
{% endblock %}
