{% extends 'base.html'%}

{% block title %}Maktab CRM - Yangi fan yaratish{% endblock %}

{% block content %}
<h1>Yangi fan yaratish</h1>
<form id="createSubjectForm">
    <div class="form-group">
        <label for="subject_name">Fan nomi:</label>
        <input type="text" id="subject_name" name="subject_name" placeholder="Fan nomini kiriting" required>
    </div>
    <div class="form-group">
        <label for="teachers">O'qituvchilar:</label>
        <select id="teachers" name="teachers" multiple required>
            {% for teacher in teachers %}
                <option value="1">O'qituvchi 1</option>
            {% empty %}
                <h2>Hozircha o'qitucvhilar yo'q</h2>
            {% endfor %}
        </select>
    </div>
    <div class="actions">
        <button type="submit" class="btn"><i class="fas fa-save"></i> Saqlash</button>
        <a href="{% url 'subjects:list' %}" class="btn btn-secondary"><i class="fas fa-times"></i> Bekor qilish</a>
    </div>
</form>
{% enblock %}
